.bouncing-goose {
    position: absolute;
    top: 10px;
    left: 30px;
}

.party-time-div {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    font-size: 3rem;
}

.smug-goose {
    position: absolute;
    top: 40px;
    left: 50px;
}