/* ~~~~~~~~~~~~~~ color palette  */


:root {
    --bg-color-1: #FFDD86;
    --bg-color-2: #F97068;
    --font: #19323C;
    --accent-1: #2176FF;
    --accent-2: #E7E5DF;
    --dark: #603140;
}









/* ~~~~~~~~~~~~ CSS rests */

* {
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~~~~ respecting user font size prefrences */
html {
    font-size: 100%;
}

/* ~~~~~~~~~~~~~~ Genereal CSS  */

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: fantasy;
    font-size: 1.3rem;
    line-height: 1.5;
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: var(--dark);
    color: var(--accent-2);
    border-bottom: var(--font) 3px solid;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #2176FF; */
}

nav {
    position: fixed;
    right: 2rem;
    top: 2rem;
    background-color: var(--dark);
}

nav a {
    text-decoration: none;
    color: var(--accent-2);
    display: inline-block;
    margin: 1.5rem
}

nav a:hover {
    background-color: var(--accent-1);
}

main {}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-1);
    padding: 4rem;
    text-align: center;
    border: 2px var(--dark) solid;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px #36003868;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    /* background-color: #ffb458a9; */
}

.portfolio-section {
    background-color: var(--bg-color-2);
}

footer {
    background-color: #603140;
    color: #E7E5DF;
    padding: 1rem;
    text-align: right;
}

footer p {
    font-size: 1.2rem;
}





/* ~~~~~~~~~~~~~~ style classes */

.accent-1 {
    color: #2176FF;
}

.accent-2 {
    color: #E7E5DF;
}