/* ~~~~~~~~~~~~~~ color palette  */


:root {
    --bg-color-1: #FFDD86;
    --bg-color-2: #F97068;
    --font: #19323C;
    --accent-1: #2176FF;
    --accent-2: #E7E5DF;
    --dark: #603140;
}









/* ~~~~~~~~~~~~ CSS rests */

* {
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~~~~ respecting user font size prefrences */
html {
    font-size: 100%;
}

/* ~~~~~~~~~~~~~~ Genereal CSS  */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-family: font-family: "Sacramento", cursive;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;

}

@media (max-width: 700px){
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: var(--dark);
    color: var(--accent-2);
    border-bottom: var(--font) 3px solid;
    text-align: center;
}

@media (max-width: 700px){
    header {
        padding-left: 2rem;
    }
}

header h1 {
    font-size: 3rem;
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #2176FF; */
    font-family: font-family: "Alice", serif;
}

nav {
    position: fixed;
    right: 2rem;
    top: 2rem;
    background-color: var(--dark);
}

nav a {
    text-decoration: none;
    color: var(--accent-2);
    border-radius: .5rem;
    display: inline-block;
    margin: .5rem;
    transition: all .5s ease
}

nav a:hover {
    background-color: var(--accent-1);
    transform: scale(1.3);
}

@media (max-width: 750px){
    nav a {
        margin: 0 .5rem;
    }
}

main {
    margin: 0;
}

@media (max-width: 850px) {
    main {
        margin: 3rem;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1re, ;
    }
}


.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-1);
    padding: 4rem;
    border: 2px var(--dark) solid;
    border-radius: .5rem;
    box-shadow: 10px 10px 5px #36003868;
}


@media (max-width: 800px) {
    .portfolio-item {
        padding: 3rem;
    }
}

@media (max-width: 600px) {
    .portfolio-item {
        padding: 2rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    /* background-color: #ffb458a9; */
}

.portfolio-section {
    background-color: var(--bg-color-2);
}

footer {
    background-color: #603140;
    color: #E7E5DF;
    padding: 1rem;
    text-align: right;
}

footer p {
    font-size: 1.2rem;
}





/* ~~~~~~~~~~~~~~ style classes */

.accent-1 {
    color: #2176FF;
}

.accent-2 {
    color: #E7E5DF;
}

/* .sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
} */