.title {
    font-family: cursive;
}

.square {
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover{
    background-color: blue;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    color: aliceblue;
    background-color:blue;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    /* ~~~~~one way to center~~~~~
    margin: 50px auto;
    display: block;
    width: 100px;
    text-align: center; */
}

.button:hover{
    background-color:bisque;
    color: black;
    transform: scale(1.5);
}